@import 'styles/Variables.scss';
@import 'styles/mixins.scss';

.footer-container {
  .footer-selfDescription--container {
    margin-left: 2em;
    @include sm {
      margin-left: initial;
    }
  }
  .footer-selfDescription--card {
    box-shadow: unset;

    .description-item {
      font-weight: 100;
    }
  }
  .brand-img {
    width: 100%;
    margin-left: 1.5em;
    @include sm {
      margin-left: unset;
    }
    @include lg {
      width: 50%;
    }
  }
}
