@import 'styles/Variables.scss';
@import 'styles/mixins.scss';

.description-container--grid.MuiGrid-item {
  margin-left: 1em;
  @include sm {
    margin-left: unset;
  }
}

.home-site--desc_img {
  background-image: url(/assets/images/Women.png);
  height: 20vh;
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  right: 1em;

  @include sm {
    right: 0em;
  }
  @include md {
    height: 40vh;
  }
}

.home-site--signup_img{
  background-image: url(/assets/images/Asset_3.png);
  height: 20vh;
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  right: 1em;

  @include sm {
    right: 0em;
  }
  @include md {
    height: 40vh;
  }
}
