$screen-xs-min: 0px;
$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;
$screen-xl-min: 1920px;
$gray-color: #b3c1cd;
$lightblue-color: #CCF5FC;
$blue-color: #18A4E0;
$icon-color: #2F3D4A;
$white-color: #f1f1f1;