@import '../../styles/Variables.scss';
@import '../../styles/mixins.scss';

.box-layout .login-content {
  @include md {
    padding: 0px 20%;
  }
  position: relative;
  padding: 0px 40px;
  border-radius: 50px;
  box-shadow: 0 0 5px #b6b6b6;
  .login-close-btn {
    display: flex;
    position: absolute;
    right: 35px;
    top: 20px;
    border: 1px solid $gray-color;
    font-size: 16px;
    min-width: auto;
    height: 28px;
  }
  .login-info {
    text-align: center;
    margin: 50px 0px;
    color: $icon-color;
    .form-dialog-title {
      font-weight: 900;
    }
    .login-msg {
      font-weight: 500;
      .brand-name {
        color: $blue-color;
      }
    }
  }
  .login-help {
    color: $icon-color;
    .keep-me-checkbox.checked {
      svg {
        color: $blue-color;
      }
    }
    .keep-me-checkbox {
      padding: 4px;
      padding-left: 10px;
      font-size: 12px;
      svg {
        font-size: 20px;
      }
    }
    .keep-me-msg {
      font-size: 12px;
      vertical-align: middle;
    }
    .forgot-pwd-btn {
      padding: 5px 0px;
      font-size: 12px;
      color: $blue-color;
      @include sm {
        float: right;
      }
    }
  }
  .sign-up-msg {
    margin: 20px 0px;
    .sign-up-link {
      color: $blue-color;
    }
  }
  #login-form {
    .login-data-field,
    .login-btn {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 5px;
    }
    .login-btn {
      background-color: $blue-color;
      color: $white-color;
      font-weight: 500;
    }
  }
}
