@import '../../styles/Variables.scss';
@import '../../styles/mixins.scss';

.box-layout {
  background-color: #fff;
  padding: 10% 0%;
  @include sm {
    padding: 10% 20%;
  }
  @include md {
    padding: 2% 33%;
  }
}
