@import 'styles/Variables.scss';
@import 'styles/mixins.scss';

body {
  display: flex;
  background-color: #fff;
}

.site-loader {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
