body {
  font-family: Poppins-Light, Poppins-Black, Poppins-ExtraLight, Poppins-Bold,
    Poppins-ExtraBold, Poppins-SemiBold, Poppins-Italic,
    Poppins-ExtraLightItalic, Poppins-ExtraBoldItalic, Poppins-LightItalic,
    Poppins-MediumItalic, Poppins-SemiBoldItalic, Poppins-ThinItalic,
    Poppins-BlackItalic, Poppins-BoldItalic, Poppins-Medium, Poppins-Regular,
    Poppins-Thin, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
